.partida {
  padding: 10px;
  border: 2px solid transparent;  
  transition: border 0.3s ease;   
}

.partida:hover {
  border: 2px solid white;
  
}
.partida:hover td {
  background-color: rgba(255, 255, 255, 0.08);
}